/.cache/
/build/
/cppadcg_build/
/cppadcg_install/
/pinocchio_build/
/pinocchio_install/
/crusty_compilations/build/
/debug/
/output.data
/output.json
/*.hh
/*.rs
/.cpm-cache/
__pycache__
*.py[cod]
*.cpy
*.pyc